name: CloudFormation Templates

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions: {}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: templates 
        uses: scottbrenner/cfn-lint-action@25ee47d1ab3146bda904df745511735cc0b9a970 # v2.5.2
        with:
          version: "[sarif]>=1.0"
          command: cfn-lint --non-zero-exit-code error -t ./*.yaml
