name: Documentation CI

permissions: {}

on:
  pull_request:
  workflow_dispatch:

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        id: changed-files
        with:
          files: |
            docs/sources/**

  tests:
    needs: changed-files
    if: needs.changed-files.outputs.any_changed == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
      security-events: write
    uses: grafana/writers-toolkit/.github/workflows/docs-ci.yml@main
    with:
      build: true
      build-website-directory: content/docs/lambda-promtail
      prettier: true
      vale: true
      # Doesn't yet work on forks.
      readability: false

  result:
    runs-on: ubuntu-latest
    needs: [changed-files, tests]
    if: always()
    steps:
      - name: Determine result
        run: |
          if [[ "${{ needs.changed-files.outputs.any_changed }}" == "false" ]]; then
            echo "No documentation files changed, skipping CI"
            exit 0
          elif [[ "${{ needs.tests.result }}" == "success" ]]; then
            echo "CI passed"
            exit 0
          else
            echo "CI failed or was cancelled"
            exit 1
          fi
